:root {
    --color-one: #334257;
    --color-two: #476072;
    --color-three: #548ca8;
    --color-four: #eee;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--color-four);
    scroll-behavior: smooth;
}

.container-header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    background-color: var(--color-one);
}

header {
    width: 80%;
    margin: auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.logo h3 {
    font-family: 'Rock Salt', sans-serif;
}

.navigasi, .logo {
    line-height: 3em;
}

.navigasi a {
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin-left: 1em;
    padding: 0 5px;
    cursor: pointer;
}

.navigasi a:hover {
    color: var(--color-three);
}

.burger {
    display : none;
}

.container-main {
    width: 100%;
    padding: 10vh 0;
    background: url(asset/jumbotron.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3em;
}

.jumbo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.profile {
    width: 200px;
    height: 200px;
    background: url(asset/bio.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid var(--color-four);
    border-radius: 100%;
}

.container-about {
    width: 100%;
    padding: 5vh 0;
    background-color: var(--color-two);
}

.about {
    width: 80%;
    margin: auto;
}

.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h3, .service, .working, .contactme {
    min-width: 30vw;
    /* border-bottom: 3px solid var(--color-three); */
}

.container-services {
    width: 100%;
    padding: 5vh 0;
    background: url(asset/jumbotron.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.service-web {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.web {
    font-size: 3.5em;
    cursor: pointer;
}

.web:hover {
    color: var(--color-three);
}

.container-work {
    width: 100%;
    padding: 5vh 0;
    background-color: var(--color-two);
}

.work {
    width: 80%;
    margin: auto;
    text-align: center;
}

.work-img {
    margin: 1em 1em 0 1em;
}

.working {
    margin: 0 auto;
}

.image {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image a {
    text-decoration: none;
}

.image a:hover {
    color: var(--color-three);
}

.img {
    width: 300px;
    height:150px;
    background: url(asset/coors.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
    width: 300px;
    height:150px;
    background: url(asset/tradre.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img2 {
    width: 300px;
    height:150px;
    background: url(asset/elena.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-contact {
    width: 100%;
    padding: 5vh 0;
    background: url(asset/jumbotron.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactme {
    text-align: center;
}

.btn {
    padding: .80em 2em;
    background-color: var(--color-three);
    border: none;
    outline: none;
    border-radius: 5px;
}

.form, textarea {
    width: 24em;
}

.container-footer {
    width: 100%;
    height: 3em;
    background-color: var(--color-one);
}

footer {
    width: 80%;
    height: 3em;
    margin: auto;
    text-align: center;
    line-height: 3em;
}

@media(max-width: 900px) {

    header {
        display: flex;
        justify-content: space-between;
    }

    .header-nav {
        display: block;
    }

    .navigasi {
        margin-top: -180%;
        transition: all .50s;
    }

    .navigasi.slide {
        margin-top: 0%;
    }

    ul {
        display: block;
    }

    li {
        margin: 0;
        padding: 0;
    }

    .burger {
        display: block;
        line-height: 2em;
        cursor: pointer;
    }

}

@media(max-width: 425px) {
    .logo h3 {
        font-size: 1em;
    }

    .jumbo {
        max-height: 80vh;
    }

    .container-main {
        max-height: 80vh;
    }

    .profile {
        width: 100px;
        height: 100px;
    }

    .name, .aboutme, .services, .work, .contact {
        font-size: .90em;
    }

    .form {
        width: 20em;
    }

    textarea {
        width: 20em;
    }

    footer {
        font-size: .80em;
        line-height: 3.8em;
    }
}

@media(max-width: 320px) {
    footer {
        font-size: .70em;
        line-height: 4em;
    }
}
